* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow: scroll;
}
/* navbar */

.navbar {
  z-index: 5;
  position: fixed;
  box-shadow: 0 0 10px 5px white;
  width: 100vw;
}

.navbar-brand:hover {
  box-shadow: 0 0 5px 2px white;
}

.navbar-nav .nav-item:hover {
  box-shadow: 0 0 5px 2px white;
}

/* navbar */

/* header */

header {
  top: auto;
  position: relative;
  height: 75vh;
  min-height: 25rem;
  width: 100vw;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}



/* whathowwhen */

.whathowwhen {
  margin: 6.8% 0;
  color: white;
  text-align: center;
  position: relative;
}

.whathowwhen ul {
  list-style: inside;
  text-align: left;
  /* padding-right: auto; */
  padding-bottom: 2%;
  opacity: 0.7;
}

.titles .caps {
  font-size: 30px;
  margin-bottom: 2%;
  margin: 0 2%;
}

.titles .headings {
  font-size: 25px;
  margin-bottom: 5%; 
}

.what {
  background: rgb(0, 0, 0);
  padding: 5% 2%;
  margin-top: 13%;
  margin-left: 20%;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgb(255, 255, 255);
  width: 60vw;
}

.how {
  background: rgb(0, 0, 0);
  padding-top: 5%;
  padding-bottom: 5%;
  /* padding-left: 2%; */
  padding-right: 2%;
  margin-top: 5%;
  margin-left: 20%;
  box-shadow: 0 0 10px 0 rgb(255, 255, 255);
  border-radius: 30px;
  width: 60vw;
}

.when {
  background: rgb(0, 0, 0);
  padding: 5% 2%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 20%;
  box-shadow: 0 0 10px 0 rgb(255, 255, 255);
  border-radius: 30px;
  width: 60vw;
}

/* whathowwhen */

/* Section1 */

.center {
  display: flex;
  text-align: center;
  justify-content: center;
}

.cardm {
  width: 60vw;
  background: black;
  position: relative;
  margin-top: 1.5%;
  margin-bottom: 10%;
  box-shadow: 0 0 10px 2px rgb(255, 255, 255);
}

.card-body a.btn {
  padding: 2.5% 9%;
  margin: 4% 0;
  border-radius: 2rem;
}

.card-body a.btn:hover {
  background: black;
  color: white;
}

/* Section1 */

/* Section2 */

.section2 .grid-container {
  color: white;
  display: grid;
  grid-template-columns: auto;
  background-color: #000000;
  box-shadow: 0 0 10px 0 rgb(221, 221, 221);
  border-radius: 500px;
  padding: 3% 3%;
  text-align: center;
}

.section2 .random {
  margin: 2% 22.5%;
  font-size: 15px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.section2 .random .icon {
  margin: 15px 0;
  padding: 3%;
  border-radius: 50px;
  box-shadow: 0 0 10px 0 rgb(221, 221, 221);
}

/* Section2 */

/* Section3 */


.center1 {
    display: flex;
    text-align: center;
    justify-content: center;

}
  
.cardp {
    width: 25rem;
    background: black;
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom: 10%;
    box-shadow: 0 0 10px 2px rgb(255, 255, 255);
    color: white;
}

.cardp h2{
    padding: 1% 0;
}

.cardp blockquote{
    padding: 0 2%;
}

@media (max-width: 800px){

    .section3{
        /* background: red; */
        padding: 3% 0;
    }

    .center1{
        display: initial;
    }

    .cardp{
        width: 60vw;
        position: relative;
        left: 20%;
    }

}

/* Section3 */

/* footer */
footer .section4 {
  background-color: black;
  color: grey;
}

footer .first div {
  text-align: center;
  margin: 1.5% 0;
  font-size: 28px;
}

footer .first p {
  text-align: center;
}

footer .section4 .grid-container .grid-item {
  display: grid;
  grid-template-columns: auto auto;
}

footer .second {
  margin: 30px 0;
  text-align: center;
}
/* footer */
